.promo.full-width
  .promo_message 
    .headline Have an event?
    .message 
      p.bold We'd love to be part of it!
      p Being part of local events is especially important to us as it means we are able to help support local charities, schools and organisations.  On top of that we love to see the smile on people faces when they see Flo for the first time.
      p We are fully insured and licensed so being part of your next event is easy with us.
    .cta
      .enquire 
        a.btn(href='#contact') enquire now

  .promo_image.lazy(data-src="/img/gallery/flo_colourful.jpg")
    .promo_burst_container
      .promo_burst
        span.label.label__large Ask about our donation scheme 
        span.label.label__large to support your charity event