extends ../layout

block config
  - var page_title = "Upcoming events in essex | Prosecco Van | The Fluid Events Co."
  - var page_description = "We often have people ask us when and where they can come and see our beautiful prosecco van mobile bar. Here we list all the public events where you can find us in Essex."
  - var page_image = "/img/gallery/flo_old_house.jpg"
  - var page_path = '/essex-events'

block content
  - var events = []
  - events.push({title: 'Stock Village Christmas Market', date: new Date('2017-12-02'), time: '4pm til 6pm', url: 'http://www.stock-pc.gov.uk/wp-content/uploads/2017/09/stock-village-christmas-market.pdf', description: 'This is the first Christmas Market Stock Village has put on and it promises to be an incredible event. We\'ll be serving chilled prosecco and pink gin, so why not come and give it a try', location: 'the square, stock village, essex'})
  - events.push({title: 'The Old House Wedding Fayre', date: new Date('2018-05-20'), time: '3pm til 6pm', url: 'https://www.rochford.gov.uk/leisure-and-tourism/visit-rochford-district/heritage-attractions/weddings-district/old-house', description: 'We will be showcasing Flo at this beautiful new wedding venue in Rochford. Come say hi and pick up your exclusive offer', location: 'the old house, rochford, essex'})
  - events.push({title: 'Fluid Events Charity Quiz Night', date: new Date('2018-04-04'), time: '8pm til 11pm', description: 'With our man, John, running the London Marathon we just had to help him raise money for Mind.  Thank you to Hawkwell Baptist Church for allowing us the use of their brilliant church for this event', location: 'hawkwell baptist church, rochford, essex'})
  - events.push({title: 'Ashingdon School Fete', date: new Date('2018-06-16'), time: '12 noon til 4pm', url: 'https://ashingdonprimaryacademy.org', description: 'We will be serving chilled lager and our gorgeous prosecco at this family fun day.', location: 'ashingdon primary academy, ashingdon, essex'})
  - events.push({title: 'Plumberow School Fete', date: new Date('2018-06-30'), time: '1pm til 4pm', url: 'https://plumberowprimaryacademy.org', description: 'We will be serving chilled lager and our gorgeous prosecco at this fun packed event.', location: 'plumberow primary academy, hockley, essex'})
  - events.push({title: 'A miracle for Maci', date: new Date('2018-08-04'), time: '11am til 4pm', description: 'We will be serving chilled lager and our famous pimped prosecco at this brilliant event. Please come down and show your support for this wonderful cause', location: 'prince avenue academy school westcliff, essex'})
  - events.push({title: 'An Elf\'s Wish', date: new Date('2017-11-26'), time: '4pm til 6pm', url: 'http://www.nevendonmanor.co.uk/wonka-elfs-wish.html', description: 'An Elf\'s wish is a magical christmas event that is perfect for the family to get the spirit of christmas going. We\'re serving our pimped prosecco and mulled wine to help the adults stay warm', location: 'nevendon manor, wickford, essex'})
  - events.push({title: 'Rochford Christmas Festival', date: new Date('2018-12-02'), time: '3pm til 6pm', description: 'We are delighted to be part of this years Rochford Christmas Festival.  This fantastic event is always a must if you are in the area.', location: 'Rochford Square, Rochford, Essex'})
  - events.push({title: 'Stock Village Christmas Market 2018', date: new Date('2018-12-01'), time: '4pm til 6pm', url: 'http://www.stock-pc.gov.uk/wp-content/uploads/2017/09/stock-village-christmas-market.pdf', description: 'Once again we\'ll be ready to serve pimped prosecco at this wonderful event.  The square is transformed into a magical space full of festivities for all ages. A must for your Christmas calendar', location: 'the square, stock village, essex'})
  - events.push({title: 'Newmarket Dubai Future Champions Festival', date: new Date('2018-10-12'), time: '11am til 6pm', url: 'http://newmarket.thejockeyclub.co.uk/events-tickets/whats-on/dubai-future-champions-festival', description: 'The highlight of the gold season needs know introduction.  We will be keeping you all well refreshed with our beautifully chilled prosecco, with the option of topping it off with pink gin.  A great event, not to be missed', location: 'newmarket racecourse, essex'})
  - events.push({title: 'Ashingdon School Fete', date: new Date('2019-06-22'), time: '12 noon til 4pm', url: 'https://ashingdonprimaryacademy.org', description: 'We will be serving chilled lager and our gorgeous prosecco at this family fun day.', location: 'ashingdon primary academy, ashingdon, essex'})
  - events.push({title: 'Plumberow School Fete', date: new Date('2019-06-29'), time: '1pm til 4pm', url: 'https://plumberowprimaryacademy.org', description: 'We will be serving chilled lager and our gorgeous prosecco at this fun packed event.', location: 'plumberow primary academy, hockley, essex'})
  - events.push({title: 'Westerings School Fete', date: new Date('2019-07-13'), time: '12pm til 5pm', url: 'http://www.westeringsprimaryacademy.org/', description: 'Our chilled lager and our gorgeous prosecco will once again be at this brilliant event.', location: 'westerings primary academy, hockley, essex'})
  - events.push({title: 'Brightlingsea Food Festival', date: new Date('2019-08-23'), time: 'Friday 23rd - Sunday 25th Aug', description: 'We are excited to be at this wonderful food festival, keeping you all refreshed with our chilled prosecco.', location: 'brightlingsea, essex'})
  - events.push({title: 'Paglesham School Fete', date: new Date('2019-08-31'), time: '12pm til 4pm', description: 'A new one on the calender this year is this fantastic local fete. Berr and chilled prosecco will be served', location: 'paglesham, rochford, essex'})
  //- - events.push({title: 'Rochford Christmas Festival', date: new Date('2019-12-02'), time: '3pm til 6pm', description: 'We are delighted to be part of this years Rochford Christmas Festival.  This fantastic event is always a must if you are in the area.', location: 'Rochford Square, Rochford, Essex'})
  //- - events.push({title: 'Stock Village Christmas Market', date: new Date('2019-12-02'), time: '4pm til 6pm', url: 'http://www.stock-pc.gov.uk/wp-content/uploads/2017/09/stock-village-christmas-market.pdf', description: 'This is the first Christmas Market Stock Village has put on and it promises to be an incredible event. We\'ll be serving chilled prosecco and pink gin, so why not come and give it a try', location: 'the square, stock village, essex'})
  - events = events.sort(function(a,b){ return a.date - b.date })

  .section_header
    h1
      span public events

  .section_info.page-width
    span Below is a list of places where you can come and see Flo.  However these are just
    span some of the
    i public
    span events we have booked in. To avoid dissapointment, please
    a(href='#contact') get in touch
    span to confirm our availability.

  .events_grid.page-width
    each event in events.filter(e => e.date > new Date().setHours(0,0,0,0))
      include _event

  include _promo_public_event

  a#corporate(visibility="hidden")
  h2 Past events

  .section_info.page-width
    span We are sorry you've missed us, but we've been at some amazing public events already throughout Essex.  Here is what we've been up to:

  .events_grid.page-width
    each event in events.filter(e => e.date < new Date().setHours(0,0,0,0)).reverse()
      include _event

  .section_info.page-width
    p If you would like more information on where you can come and meet our prosecco van (Flo) please get in touch and
      a(href="#contact") using our contact form
