extends ../bloglayout

block config
  - var page_title = "How we chose our prosecco | Blog | The Fluid Events Co."
  - var page_description = "Prosecco is at the heart of our business, and it had to taste amazing.  This is how we chose our prosecco."
  - var page_image = "/img/gallery/john_serving.jpg"
  - var page_path = '/blog/the-taste-test-choosing-prosecco'

block structured_data
  include structured_data.json

block content
  //- .hero.lazy(data-src='/img/gallery/john_serving.jpg')

  .blog_content.page-width
    .blog_text
      include:marked content.md
    .blog_image.lazy(data-src="/img/gallery/cheers.jpg", alt="prosecco cheers")
