.section_header
  h1
    span about us
.about_content.page-width
  p 
    span Our lovingly converted prosecco van can serve Prosecco, Pimms, Peroni and more.  
    span Unlike most prosecco vans we can serve different drinks from each tap, meaning you can create any combination to suit your guests.
  
  p
    span We spent a lot of time choosing our prosecco, and we think it was worth every minute. 
    span Our prosecco is from from a noble, century-old family run estate in Treviso, Italy. 
    span Using the native Glera grap, brothers Gerardo and Giorgio, with the help of their children Chiara and Luca, ensure every glass is as good as the last. 
  p.hide_mobile
    span Our prosecco is light and delicate with apple and pear aromas. 
    span The nose is pleasant and fruity, with good intensity. 
    span Refreshing on the palate with zesty fruits and fine, creamy bubbles, we think you'll love it!
