nav.callouts.page-width
  a.callout.callout__contact(href="#contact")
    img(src="/img/paper_plane.svg" alt="contact us")
    .title enquire now

  a.callout.callout__gallery(href="/prosecco-van/gallery")
    img(src="/img/camera.svg" alt="gallery")
    .title gallery

  a.callout.callout__packages(href="/prosecco-van/wedding-packages") 
    img(src="/img/heart_hollow.svg" alt="wedding packages")
    .title wedding packages

  a.callout.callout__blog(href="/prosecco-van/essex-events")
    img(src="/img/megaphone.svg" alt="public events")
    .title events

  a.callout.callout__gallery(href="/prosecco-van/corporate-hire") 
    img(src="/img/cheers.svg" alt="corporate hire")
    .title corporate hire