.callouts.page-width
  a.callout.callout__packages(href="#packages") 
    object(type="image/svg+xml" data="/img/cheers.svg") packages
    .title packages

  a.callout.callout__events(href="/#events")
    object(type="image/svg+xml" data="/img/megaphone.svg") events
    .title events

  a.callout.callout__gallery(href="/#gallery" alt="gallery")
    object(type="image/svg+xml" data="/img/camera.svg") gallery
    .title gallery

  a.callout.callout__contact(href="/#contact" alt="contact us")
    object(type="image/svg+xml" data="/img/paper_plane.svg") contact us
    .title contact