.callouts.page-width
  a.callout.callout__packages(href="#packages") 
    object(type="image/svg+xml" data="/img/cheers.svg")
    .title packages

  a.callout.callout__events(href="/#events")
    object(type="image/svg+xml" data="/img/megaphone.svg")
    .title events

  a.callout.callout__gallery(href="/#gallery")
    object(type="image/svg+xml" data="/img/camera.svg")
    .title gallery

  a.callout.callout__contact(href="/#contact")
    object(type="image/svg+xml" data="/img/paper_plane.svg")    
    .title contact