.callouts.page-width
  a.callout.callout__events(href="/#events")
    img.lazy(data-src="/img/megaphone.svg" alt="events image")
    .title events

  a.callout.callout__packages(href="#packages") 
    img.lazy(data-src="/img/cheers.svg" alt="packages image")
    .title packages

  a.callout.callout__gallery(href="/#gallery")
    img.lazy(data-src="/img/camera.svg" alt="gallery image")
    .title gallery

  a.callout.callout__contact(href="/#contact")
    img.lazy(data-src="/img/paper_plane.svg" alt="contact us image")
    .title contact