#contact-us.section_header
  h2
    span get in touch

  .section-info.page-width
    p 
      span We at The Fluid Events Company have been working hard to put together a unique vehicle that will ensure the bubbles flow at your next big event.  
      span If you are looking for something different at your party, prom or wedding, get in touch for exclusive early bird offers.

    form(action="thankyou" method="POST" name="contact" autocomplete="on" netlify)
      .form_details_container
        input#name(type="text" name="name" label="Name" placeholder="Name *" required)
        input#email.large(type="email" name="email", label="Email" placeholder="Email *" required)
        input#telephone.large(type="tel" name="telephone", label="Phone" placeholder="Phone number")
      textarea#message(name="Message (including date of event if applicable" cols="30", rows="5", placeholder="Message" autocomplete="off")
      input#submit.btn(type="submit" value="Send >") 