footer
  .copyright © 2017 by The Fluid Events Essex Company
  .social
    a(href="https://www.facebook.com/thefluideventsco/" target="_blank" rel="noopener")
      img.lazy.facebook(src="/img/facebook.svg" alt="Facebook logo")
    a(href="https://www.instagram.com/fluideventsco/" target="_blank" rel="noopener")
      img.lazy.instagram(src="/img/instagram.svg" alt="Instagram logo")
    a(href="https://twitter.com/fluideventsco/" target="_blank" rel="noopener")
      img.lazy.twitter(src="/img/twitter.svg" alt="Twitter logo")
    a(href="https://plus.google.com/u/1/117425984212672074805" target="_blank" rel="noopener")
      img.lazy.google(src="/img/google-plus.svg" alt="Google Plus logo")
  .popular_links
    span Popular posts: 
    a(href="/blog/raising-money-for-mind-essex" title="Raising money For Mind in Essex") Raising money For Mind in Essex
    span  |  
    a(href="/blog/the-taste-test-choosing-prosecco" title="Choosing prosecco") Choosing prosecco
    span  |  
    a(href="/blog/five-top-tips-to-building-a-prosecco-van" title="Building a proseeco van or mobile bar") Building a proseeco van or mobile bar
  .credits
    span Icons made by
    a(href="https://www.flaticon.com/authors/simpleicon" target="_blank" title="SimpleIcon") SimpleIcon
    span and
    a(href="http://www.freepik.com" target="_blank" title="Freepik") Freepik
    span from
    a(href="https://www.flaticon.com/" target="_blank" title="Flaticon") www.flaticon.com
    span is licensed by
    a(href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank" rel="noopener") CC 3.0 BY
