.section_header
  h1 
    span gallery

.section_info.page-width
  p 
    span Here are some of our favourite images of our mobile prosecco van and the Fluid Events Team. 
    span You can also find our latest images on our 
    a(href="https://www.instagram.com/fluideventsco/") instagram page.

  p.cta
    a.btn(href="https://www.instagram.com/fluideventsco/") View more on our instagram page

.gallery.page-width.masonry
  .item
    img.lazy(data-src="/img/gallery/doors_open.jpg", alt="prosecco van with doors open")
  .item
    img.lazy(data-src="/img/gallery/feco_team.jpg", alt="The Fluid Events team")
  .item
    img.lazy(data-src="/img/gallery/oldskool_tuktuk.jpg", alt="Driving the mobile bar")
  .item
    img.lazy(data-src="/img/gallery/feco_pumps.jpg", alt="Shining pumps on the prosecoo van")
  .item
    img.lazy(data-src="/img/gallery/feco_glasses.jpg", alt="Glasses resting on the prosecco van")
  .item
    img.lazy(data-src="/img/gallery/first_glass.jpg", alt="pouring the first glass from our mobile bar")

.section_info.page-width
  p.cta
    a.btn(href="https://www.instagram.com/fluideventsco/") View more on our instagram page