.section_info.page-width
  p 
    span Here are some of our favourite images of our mobile prosecco van and the Fluid Events Team. 
    span You can also find our latest images on our 
    a(href="https://www.instagram.com/fluideventsco/") instagram page.

.gallery.page-width.masonry
  .item
    img.lazy(data-src="/img/gallery/glass_and_flowers.jpg", alt="full prosecco glasses")
  .item
    img.lazy(data-src="/img/gallery/flo_nearside_woodland.bw.strip.jpg", alt="Prosecco van in the woods")
  .item
    img.lazy(data-src="/img/gallery/flo_taps.jpg", alt="Taps ready to pour prosecco")
  .item
    img.lazy(data-src="/img/gallery/teamflo_virgo.jpg", alt="The team")
  .item
    img.lazy(data-src="/img/gallery/flo_hedge.jpg", alt="Flo's prosecco")
  .item
    img.lazy(data-src="/img/gallery/serving_busy.jpg", alt="Serving at a party")
  .item
    img.lazy(data-src="/img/gallery/flo_xmas_sun.jpg", alt="Flo shining in the sun")
  .item
    img.lazy(data-src="/img/gallery/liane_serving.jpg", alt="Serving whilst having a picture taken")
  .item
    img.lazy(data-src="/img/gallery/frosted_prosecco.jpg", alt="frosted prosecco with gummy bears")

.section_info.page-width
  p.cta
    a.btn(href="#contact") Enquire now