.section_header
  h2
    span hire us in essex
    
.map_container.page-width
  .map
    iframe.lazy(data-src="https://www.google.com/maps/embed/v1/place?q=the%20fluid%20events%20co&key=AIzaSyBl72WpWlai9_dyV-85_FlYj8VEBEEJAYY&zoom=8", frameborder="0")
  .contact
    .contact_row Whether you want a completely custom package, or simple have a few questions answered, our team are on hand to help. Please get in touch using the details below for our latest offers and prices.
    .contact_row.telephone
      a.telephone(href="tel:+447754-219540")
        img.ico(src="/img/phone.svg", alt="telephone icon")
        span.number 07754 219 540

    .contact_row
      a.email(href="mailto:info@thefluidevents.co.uk?subject=Website%20Enquiry")
        img.ico(src="/img/email.svg", alt="email icon")
        span.email info@thefluidevents.co.uk    

