a.package(href="/#contact")
  h3 Corporate hire
  .price £POA
  ul
    li  
      span.green &#10004; 
      span White Wine
    li  
      span.green &#10004; 
      span Red Wine
    li  
      span.green &#10004; 
      span English Sparkling Wine
    li  
      span.green &#10004; 
      span Frizzante (Prosecco)
    li  
      span.green &#10004; 
      span Peroni
    li  
      span.green &#10004; 
      span Pimms
    li 
      span.green &#10004; 
      span Unlimited disposable flutes
    li 
      span.green &#10004;
      span Uniformed staff
    li 
      span.green &#10004;
      span Complimentary juices
    li 
      span.green &#10004;
      span Optional pre paid bar
  .cta
    .enquire 
      .btn enquire now