a.package(href="#contact")
  h3 prosecco package      
  .price 
    span £649 
    //- span.offer_price Now £549
  ul
    li 1 keg of frizzante
    li 190 glasses approx.
    li Up to 3 hours of service
    li Uniformed staff
    li Unlimited disposable flutes
    li Complimentary juices
  .cta
    .enquire 
      .btn enquire now