a.package(href="#contact")
  h3 prosecco      
  .price £649
  ul
    li 
      span.green &#10004; 
      span 1 keg of frizante
    li 
      span.green &#10004; 
      span 190 glasses approx.
    li 
      span.green &#10004;
      span Up to 3 hours of service
    li 
      span.green &#10004;
      span Uniformed staff
    li 
      span.green &#10004;
      span Unlimited disposable flutes
    li 
      span.green &#10004;
      span Complimentary juices
  .cta
    .enquire 
      .btn enquire now