a.package(href="/contact-us?p=pimped")
  h3 Dry Hire
  .price £199
  ul
    li  
      span.green &#10004; 
      span White Wine
    li  
      span.green &#10004; 
      span Red Wine
    li  
      span.green &#10004; 
      span English Sparkling Wine
    li  
      span.green &#10004; 
      span Frizzante (Prosecco)
    li 
      span.green &#10004;
      span Uniformed staff
    li 
      span.green &#10004;
      span Up to 5 hours of service
    li 
      span.green &#10004;
      span Disposable flutes
    li 
      span.green &#10004;
      span Prosecco sold by the glass
    li 
      span.green &#10004;
      span.bold Selection of fresh fruits
    li 
      span.green &#10004;
      span.bold Flavoured syrups
    li 
      span.green &#10004;
      span.bold Candyfloss and gummy bears
  .most_popular
    span.heart &#10084; 
    span Our most popular package
  .cta
    .enquire 
      .btn enquire now