a.package(href="#contact")
  h3 pimped wedding package
  .price £699
  .most_popular
    span.heart &#10084; 
    span Our most popular package
  ul
    li 1 keg of frizzante
    li 190 glasses approx.
    li Up to 3 hours of service
    li Uniformed staff
    li Unlimited disposable flutes
    li Complimentary juices
    li.bold Selection of fresh fruits
    li.bold Flavoured syrups
    li.bold Candyfloss and gummy bears
  .cta
    .enquire 
      .btn enquire now
