a.package(href="/contact-us?p=wedding")
  h3 wedding pimped package
  .price £699
  ul
    li 
      span.green &#10004; 
      span 1 keg of frizante
      span.option add a keg
    li 
      span.green &#10004; 
      span 190 glasses approx.
    li 
      span.green &#10004;
      span Up to 3 hours of service
    li 
      span.green &#10004;
      span Uniformed staff
    li 
      span.green &#10004;
      span Unlimited disposable flutes
    li 
      span.green &#10004;
      span Complimentary juices
    li 
      span.green &#10004;
      span.bold Selection of fresh fruits
    li 
      span.green &#10004;
      span.bold Flavoured syrups
    li 
      span.green &#10004;
      span.bold Candyfloss and gummy bears
  .most_popular
    span.heart &#10084; 
    span Our most popular package
  .cta
    .enquire 
      .btn enquire now
