a.package(href="#contact")
  h3 prosecco wedding package      
  .price £649
  ul
    li 1 keg of frizante
    li 190 glasses approx.
    li Up to 3 hours of service
    li Uniformed staff
    li Unlimited disposable flutes
    li Complimentary juices
  .cta
    .enquire 
      .btn enquire now