.package
  h3 bridal prosecco
  ul
    li 
      span.green &#10004; 
      span 1 keg of frizante
    li 
      span.green &#10004; 
      span 190 glasses approx.
    li 
      span.green &#10004;
      span Up to 3 hours of service
    li 
      span.green &#10004;
      span Uniformed staff
    li 
      span.green &#10004;
      span Unlimited disposable flutes
    li 
      span.green &#10004;
      span Complimentary juices
    li 
      span.green &#10004;
      span Selection of fresh fruits
    li 
      span.green &#10004;
      span Flavoured syrups
    li 
      span.green &#10004;
      span Candyfloss and gummy bears
    li 
      span.green &#10004;
      span.bold Personalised his and her glass flutes
    li 
      span.green &#10004;
      span.bold Colour matching van decoration
  .cta
    .price £749
    .enquire 
      a.btn(href="/contact-us?p=bridal") enquire now