a.package(href="#contact")
  h3 By the glass
  .price from £249  
  ul
    div Choose from
    li White Wine
    li Red Wine
    li English Sparkling Wine
    li.bold Frizzante (Prosecco)
    li.bold Peroni
    li.bold Pimms
    div Includes:
    li Uniformed staff
    li Disposable flutes provided
    li Donation per sale for charitiy events
    li.bold Drinks charged by the glass 
    li Minimum of 1 keg
  .cta
    .enquire 
      .btn enquire now