.section_header.packages
  h1
    span packages

.section_info.page-width
  span These are our most popular packages however 
  span.bold we can tailor any of our packages to your specific requirements. 
  span For more information please get in via our 
  a(href="/contact-us") contact us
  span  page

.packages_content.page-width
  include _package_wedding_prosecco
  include _package_wedding_pimped
  include _package_wedding_bridal
  include _package_corporate
  include _package_dry_hire

.section_info.page-width
  p The above represents our most popular packages, if you would like something unique, we would love to make it happen. 
  p Get in touch and 
    a(href="/contact-us?p=custom") enquire about a custom package option.
    //- a.btn(href="/packages") view our full range of packages
