a.package(href="/#contact")
  h2 Corporate hire
  .price £POA
  ul
    li White Wine
    li Red Wine
    li English Sparkling Wine
    li Frizzante (Prosecco)
    li Peroni
    li Pimms
    li Unlimited disposable flutes
    li Uniformed staff
    li Complimentary juices
    li Optional pre paid bar
  .cta
    .enquire 
      .btn enquire now