a.package(href="#contact")
  h2 Dry Hire
  .price £199
  ul
    li Choose two from:
    li White Wine
    li Red Wine
    li English Sparkling Wine
    li Frizzante (Prosecco)
    li Pimms
    li Uniformed staff
    li Up to 5 hours of service
    li Disposable flutes provided
    li Option to sell by the glass
    li Minimum of 1 keg per variant
  .cta
    .enquire 
      .btn enquire now