a.package(href="#contact")
  h3 Corporate hire
  .price 
    span £POA 
    //- span.offer_price - £100
  ul
    div Choose from
    li White Wine
    li Red Wine
    li English Sparkling Wine
    li.bold Frizzante (Prosecco)
    li.bold Peroni
    li.bold Pimms
    div Includes:
    li Uniformed staff
    li Disposable flutes provided
    li Complimentary juices
    li.bold Optional pre paid bar
  .cta
    .enquire 
      .btn enquire now