a.package(href="#contact")
  h3 pimped prosecco package
  .price 
    span £699 
    //- span.offer_price Now £599
  ul
    li 1 keg of frizzante
    li 190 glasses approx.
    li Up to 3 hours of service
    li Uniformed staff
    li Unlimited disposable flutes
    li Complimentary juices
    li.bold Selection of fresh fruits
    li.bold Flavoured syrups
    li.bold Candyfloss and gummy bears
  .most_popular
    span.heart &#10084; 
    span Our most popular package
  .cta
    .enquire 
      .btn enquire now
