a.package(href="/#contact")
  h3 Corporate hire
  .price £POA
  ul
    div Choose from
    li White Wine
    li Red Wine
    li English Sparkling Wine
    li Frizzante (Prosecco)
    li Peroni
    li Pimms
    div Includes:
    li Unlimited disposable flutes
    li Uniformed staff
    li Complimentary juices
    li Optional pre paid bar
  .cta
    .enquire 
      .btn enquire now