a.package(href="#contact")
  h2 bridal wedding package
  .price £749
  ul
    li 1 keg of frizzante
    li 190 glasses approx.
    li Up to 3 hours of service
    li Uniformed staff
    li Unlimited disposable flutes
    li Complimentary juices
    li Selection of fresh fruits
    li Flavoured syrups
    li Candyfloss and gummy bears
    li.bold Personalised his and her glass flutes
    li.bold Colour matching van decoration
  .cta
    .enquire 
      .btn enquire now