.promo
  .promo_message 
    .headline we give you more
    .message 
      p.bold 30 glasses more than our competitors!    
      p Not only is our frizzante refreshing, zesty and full of aroma, but our kegs contain a 
        span.bold 190 glasses!
  .promo_image.lazy(data-src="/img/gallery/glass_and_flowers.jpg")
    .promo_burst_container
      .promo_burst
        span.number 30
        span.label extra glasses 
        span.label per keg