.promo
  .promo_message 
    .headline we give you more
    .message 
      p Not only is our frizzante refreshing, zesty and full of aroma, but our kegs contain a 
        strong 190 glasses!
      p That's 30 glasses more than our competitors!
  .promo_image
    .promo_burst_container
      .promo_burst
        span.number 30
        span.label extra glasses 
        span.label per keg