extends layout

block content
  .hero.lazy(data-src='/img/gallery/fluidfun_laughing_dark.jpg')

  include _callouts

  a#gallery(visibility="hidden")
  include _gallery

  a#about(visibility="hidden")
  include _about
  
  include _promo

  a#packages(visibility="hidden")
  include _packages
