extends layout

block content
  img.page-width.hero(src='/img/gallery/fluidfun_laughing_dark.jpg' alt="The Fluid Events team")

  include _callouts

  a#about(visibility="hidden")
  include _about

  a#gallery(visibility="hidden")
  include _gallery

  include _promo

  a#packages(visibility="hidden")
  include _packages
