extends layout

block content
  .hero.lazy(data-src='/img/home_hero.jpg')
    img(src="/img/logo_wide_light.svg" alt="The Fluid Events Company Logo")

  include _callouts

  a#about(visibility="hidden")
  include _about

  include _promo

  a#packages(visibility="hidden")
  include _packages

  a#contact(visibility="hidden")
  include _contact

  a#gallery(visibility="hidden")
  include _gallery