extends layout

block content
  img.page-width.hero(src='/img/gallery/flo_old_house_new.jpg' alt="Flo The Fluid Events Prosecco Van")

  include _callouts

  a#about(visibility="hidden")
  include _about

  a#gallery(visibility="hidden")
  include _gallery

  include _promo

  a#packages(visibility="hidden")
  include _packages
