extends layout

block header
  -var selected = "Home"

block content
  .hero
    img(src="/img/logo_wide_light.svg" alt="The Fluid Events Company Logo")

  .callouts.page-width
    a.callout.callout__packages(href="/packages") 
      object(type="image/svg+xml" data="/img/cheers.svg")
      .title packages

    a.callout.callout__events(href="/events")
      object(type="image/svg+xml" data="/img/megaphone.svg")
      .title events

    a.callout.callout__gallery(href="/gallery")
      object(type="image/svg+xml" data="/img/camera.svg")
      .title gallery

    a.callout.callout__contact(href="/contact-us")
      object(type="image/svg+xml" data="/img/paper_plane.svg")    
      .title contact

  .section_header
    h1
      span about us

  .about_content.page-width
    p 
      span Our lovingly converted prosecco van can serve Prosecco, Pimms, Peroni and more.  
      span Unlike most prosecco vans we can serve different drinks from each tap, meaning you can create any combination to suit your guests.
    
    p
      span We spent a lot of time choosing our prosecco, and we think it was worth every minute. 
      span Our prosecco is from from a noble, century-old family run estate in Treviso, Italy. 
      span Using the native Glera grap, brothers Gerardo and Giorgio, with the help of their children Chiara and Luca, ensure every glass is as good as the last. 

    p.hide_mobile
      span Our prosecco is light and delicate with apple and pear aromas. 
      span The nose is pleasant and fruity, with good intensity. 
      span Refreshing on the palate with zesty fruits and fine, creamy bubbles, we think you'll love it!

  .promo
    .promo_message 
      .headline we give you more
      .message 
        p Not only is our frizzante refreshing, zesty and full of aroma, but our kegs contain a 
          strong 190 glasses!
        p That's 30 glasses more than our competitors!
    .promo_image
      .promo_burst_container
        .promo_burst
          span.number 30
          span.label extra glasses 
          span.label per keg

  .section_header
    h1
      span packages

  .section_info.page-width
    span These are our most popular packages however we can taylor any of our packages to your specific requirements.
    span For more information please get in via our 
    a(href="/contact-us") Contact Us
    span  page

  .packages_content.page-width
    .package
      h3 prosecco      
      ul
        li 
          span.green &#10004; 
          span 1 keg of frizante
        li 
          span.green &#10004; 
          span 190 glasses approx.
        li 
          span.green &#10004;
          span Up to 3 hours of service
        li 
          span.green &#10004;
          span Uniformed staff
        li 
          span.green &#10004;
          span Unlimited disposable flutes
        li 
          span.green &#10004;
          span Complimentary juices

    .package
      h3 pimped prosecco
      ul
        li 
          span.green &#10004; 
          span 1 keg of frizante
        li 
          span.green &#10004; 
          span 190 glasses approx.
        li 
          span.green &#10004;
          span Up to 3 hours of service
        li 
          span.green &#10004;
          span Uniformed staff
        li 
          span.green &#10004;
          span Unlimited disposable flutes
        li 
          span.green &#10004;
          span Complimentary juices
        li 
          span.green &#10004;
          span.bold Selection of fresh fruits
        li 
          span.green &#10004;
          span.bold Flavoured syrups
        li 
          span.green &#10004;
          span.bold Candyfloss and gummy bears

    .package
      h3 bridal prosecco
      ul
        li 
          span.green &#10004; 
          span 1 keg of frizante
        li 
          span.green &#10004; 
          span 190 glasses approx.
        li 
          span.green &#10004;
          span Up to 3 hours of service
        li 
          span.green &#10004;
          span Uniformed staff
        li 
          span.green &#10004;
          span Unlimited disposable flutes
        li 
          span.green &#10004;
          span Complimentary juices
        li 
          span.green &#10004;
          span.bold Selection of fresh fruits
        li 
          span.green &#10004;
          span.bold Flavoured syrups
        li 
          span.green &#10004;
          span.bold Candyfloss and gummy bears
        li 
          span.green &#10004;
          span.bold Personalised his and her glass flutes
        li 
          span.green &#10004;
          span.bold Colour matching van decoration
