extends layout

block config
  - var page_title = "Prosecco Van Hire | Essex | The Fluid Events Co."
  - var page_description = "Our prosecco van is available for hire throughout Essex, London, and the South East. Our packages can be tailored to suit your wedding, party or corporate event."
  - var page_image = "/img/gallery/flo_old_house.jpg"
  - var page_path = '/'

block content

  a#about(visibility="hidden")
  include _about

  a#gallery(visibility="hidden")
  .section_header
    h1
      span Gallery
  include _gallery

  include _promo

  a#packages(visibility="hidden")
  include _packages
