doctype html
html(lang="en")
  head
    block meta
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible' content='IE=edge, chrome=1')
      meta(name='description' content='Our prosecco van, mobile bar is ready for hire throughout Essex, London, and the South East.')
      meta(name='image' content='https://www.thefluidevents.co.uk/img/gallery/fluidfun_laughing_dark.jpg')
      meta(name='author' content='ninjanye')
      meta(name="viewport" content="width=device-width, initial-scale=1")
      meta(name="theme-color" content="#EFC1BA")
      //- OpenGraph
      meta(property="og:url" content="https://www.thefluidevents.co.uk")
      meta(property="og:type" content="website")
      meta(property="og:title" content="Mobile Bar | Prosecco Van | The Fluid Events Co.")
      meta(property="og:description" content="Our prosecco van, mobile bar is ready for hire throughout Essex, London, and the South East.")
      meta(property="og:image" content="https://www.thefluidevents.co.uk/img/gallery/fluidfun_laughing_dark.jpg")
      //- TODO: Google Plus card
      meta(itemprop="name" content="Mobile Bar | Prosecco Van | The Fluid Events Co.")
      meta(itemprop="description" content="Our prosecco van, mobile bar is ready for hire throughout Essex, London, and the South East.")
      meta(itemprop="image" content="https://www.thefluidevents.co.uk/img/gallery/fluidfun_laughing_dark.jpg")

      meta(name="google-site-verification" content="gack_NwTv1bXdcLAFzvPG-o34aCk4tf8Z-tNdBfI284")

      //- TODO: Structured Data (https://developers.google.com/search/docs/guides/intro-structured-data)
      script(src="/js/structured_data.json" type="application/ld+json")

      //- Global Site Tag (gtag.js) - Google Analytics
      script(async src="https://www.googletagmanager.com/gtag/js?id=UA-104065684-1")
      script(src="/js/ga.js")

      //- TODO: Google AMP
      //- TODO: Port Blog

    block title
      title Mobile Bar | Prosecco Van | The Fluid Events Co.

    block stylesheets
      link(rel='stylesheet' href='css/master.css')

  body(role='document')
    .header_container.page-width
      a.header_container__logo(href="/")
        img.lazy(data-src="/img/logo_wide_dark.svg", alt="The Fluid Events Company Logo")

      nav
        a.telephone(href="tel:+447754-21954")
          img.ico(src="/img/phone.svg", alt="telephone icon")
          span.number 07754 219 540

        a.email(href="mailto:info@thefluidevents.co.uk?subject=Website%20Enquiry")
          img.ico(src="/img/email.svg", alt="email icon")
          span.email info@thefluidevents.co.uk

    main(role='main')
      block content

    include _footer

    block javascript
      script(src='js/lazyload.js')
      script(src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/10.3.1/lazyload.min.js" async)
      script(src='js/main.js' defer)
