doctype html
html(lang="en")
  head
    block meta
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible' content='IE=edge, chrome=1')
      meta(name='description' content='description of your site')
      meta(name='author' content='ninjanye')
      meta(name="viewport" content="width=device-width, initial-scale=1")

    block title
      title Mobile Bar | Prosecco Van | The Fluid Events Co.

    block stylesheets
      link(rel='stylesheet' href='css/master.css')

  body(role='document')
    .header_container.page-width
      .header_container__logo
        img(src="/img/logo_wide_dark.svg", alt="The Fluid Events Company Logo")

      nav
        a.telephone(href="tel:+447754-21954") 
          span.ico &#9742;
          span.number 07754 219 540

        a.email(href="mailto:info@thefluidevents.co.uk?subject=Website Enquiry") 
          span.ico &#9993;
          span.email info@thefluidevents.co.uk

    main(role='main')
      block content

    footer
      .copyright © 2017 by The Fluid Events Essex Company
      .social
        .facebook [FB]
        .instagram [IG]
        .twitter [TW]
        .google [G+]

    block javascript
      script(src='js/lazyload.js')
      script(src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/10.3.1/lazyload.min.js" async)
      
      script(src='js/main.js' defer)