doctype html
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='description of your site')
    meta(name='author', content= "author of the site")
    //- uncomment if your site is responsive!
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= "Mobile Bar | Prosecco Van | The Fluid Events Co."
    != css()
  
  body
    block header
      -var selected = "Home"

    -var menu = { 'Home': '/', 'Packages': '/packages.html', 'Gallery': '/gallery.html', 'Contact Us': '/contact-us.html' };
    .header_container
      .header_container__logo
        img(src="/img/wide_logo_dark.svg", alt="The Fluid Events Company Logo")
      nav
        each val, key in menu  
          if selected === key
            a.selected(href=val, title=key)= key
          else 
            a(href=val, title=key)= key
            
    block content

    != js()
