extends layout

block config
  - var page_title = "Thank you for your enquiry - The Fluid Events Co."
  - var page_description = "Thank you for enquiring about our Proecco Van.  We aim to respond to all requests within 48 hours."
  - var page_image = "https://www.thefluidevents.co.uk/img/gallery/fluidfun_laughing_dark.jpg"
block content
  .hero.thankyou.lazy(data-src='/img/gallery/flo_nearside_woodland.bw.large.jpg')
    h1 Thank you!

  h2 We'll be in touch

  .section_info.page-width
    span Thank you for your submission.  We will get back to you as soon as possible. 
    span In the meantime, why not visit some of our social pages to see what we're up to...

  .callouts.page-width
    a.callout.callout__social.callout__facebook(href="https://www.facebook.com/thefluideventsco/" target="_blank" rel="noopener")
      img(src="/img/facebook.svg" alt="Facebook logo")
      .title facebook

    a.callout.callout__social.callout__insta(href="https://www.instagram.com/fluideventsco/" target="_blank" rel="noopener")
      img(src="/img/instagram.svg" alt="Instagram logo")
      .title instagram

    a.callout.callout__social.callout__twitter(href="https://twitter.com/fluideventsco/" target="_blank" rel="noopener")
      img(src="/img/twitter.svg" alt="Twitter logo")
      .title twitter

    a.callout.callout__social.callout__google(href="https://plus.google.com/u/1/117425984212672074805" target="_blank" rel="noopener")
      img(src="/img/google-plus.svg" alt="Google Plus logo")
      .title google+

    a.callout.callout__events(href="/#events")
      img.lazy(data-src="/img/megaphone.svg" alt="events image")
      .title events