.callouts
  min-height: 200px
  display: flex
  flex-wrap: wrap

.callouts a.callout
  flex-grow: 1
  text-align: center
  text-decoration: none
  color: $primary_colour_dark
  flex-basis: 0

.callouts .callout .title
  text-transform: uppercase
  font-weight: bolder
  font-size: $font-size-large
  letter-spacing: 3px

.callouts .callout__social .title
  color: white

.callouts__blog a.callout
  display: flex
  align-items: center
  flex-direction: column
  justify-content: center
  flex-basis: auto

.callout__gallery,
.callout__packages
  color: $primary_colour_dark

.callout__events,
.callout__blog,
.callout__blog__one
  background-color: $colour_one

.callout__packages,
.callout__blog__two
  background-color: $colour_four

.callout__gallery,
.callout__blog__three
  background-color: $colour_three

.callout__contact,
.callout__blog__four
  background-color: $colour_two

.callout__blog .title
  color: white

.callout__facebook
  background-color: #3A559F

.callout__insta
  background-color: #C536A4

.callout__twitter
  background-color: #50ABF1

.callout__google
  background-color: #DD4B39

.callout object,
.callout img
  padding-top: 20px
  padding-bottom: 20px
  max-height: 100px
  max-width: 100px

.callout .title
  padding-bottom: 10px

@media only screen and (max-width: $mobile_width)
  .callouts
    min-height: 50px

  .callouts a.callout
    flex-basis: 100%

  .callouts__blog a
    min-height: 120px

  .callout
    flex-basis: 80%

  .callout img
    padding-top: 10px
    padding-bottom: 5px

  .callout__social
    flex-basis: 50%