.callouts
  min-height: 200px
  display: flex
  flex-wrap: wrap

.callouts a.callout
  flex-grow: 1
  text-align: center
  text-decoration: none

.callouts .callout .title
  text-transform: uppercase
  font-weight: bolder
  font-size: $font-size-large
  letter-spacing: 3px

.callout__events,
.callout__contact
  color: white

.callout__gallery,
.callout__packages
  color: $primary_colour_dark

.callout__contact
  color: white

.callout__events
  background-color: $colour_one

.callout__packages
  background-color: $colour_two

.callout__gallery
  background-color: $colour_three

.callout__contact
  background-color: $colour_four

.callout object,
.callout img
  padding-top: 20px
  padding-bottom: 20px
  max-height: 100px

.callout .title
  padding-bottom: 10px

@media only screen and (max-width: $mobile_width)
  .callouts
    min-height: 50px

  .callout
    flex-basis: 50%