#contact-us,
#contact-us.section_header h1 span
  background-color: $colour_three
  color: $primary_colour_dark

#contact-us.section_header h1
  padding-top: 10px
  border-color: $colour_one
  width: 100%

#contact-us
  display: flex
  flex-flow: column wrap
  align-items: center
  text-align: center

#contact-us p
  padding: 5px

#contact-us form
  padding: 20px 0
  display: flex
  flex-flow: row wrap
  justify-content: center

#contact-us form .form_details_container
  display: flex
  flex-direction: row
  width: 100%

#contact-us form input,
#contact-us form textarea
  padding: 8px
  border: 1px solid $colour_one
  border-radius: 3px
  background-color: white
  color: $primary_colour_dark
  margin: 5px
  width: 100%

#contact-us form input#submit
  border-color: $colour_cta_dark
  background-color: $colour_cta
  padding: 10px
  font-weight: bold

#contact-us form input#submit:hover
  background-color: $colour_cta

#contact-us form input::-webkit-input-placeholder,
#contact-us form textarea::-webkit-input-placeholder,
#contact-us form input:-moz-placeholder,
#contact-us form textarea:-moz-placeholder,
#contact-us form input:-ms-input-placeholder,
#contact-us form textarea:-ms-input-placeholder
  color: $primary_colour_dark
  border: 1px solid $colour_one

@media only screen and (max-width: $mobile_width)
  #contact-us form .form_details_container
    flex-wrap: wrap
