footer
  margin-top: 20px
  background-color: $primary_colour_dark
  color: white 
  text-align: center
  width: 100%
  padding: 10px 0
  font-size: $font-size-small

footer a,
footer a:visited
  color: white
  text-decoration: none

footer .social
  display: flex
  justify-content: center
  margin: 10px 0

footer .social a img 
  height: 30px
  padding: 10px

footer .credits span:before,
footer .credits span:after
  content: ' '
