footer
  margin-top: 20px
  background-color: $primary_colour_dark
  color: white 
  text-align: center
  width: 100%
  padding: 10px 0
  font-size: $font-size-small

footer .social
  display: flex
  justify-content: center
  margin-top: 10px

footer .social div
  padding: 5px