
.hero
  min-height: 600px
  width: 100%
  background-color: $primary_colour_dark
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  // display: flex
  display: none
  align-items: center
  justify-content: center

.hero img
  max-height: 400px
  width: 100%
  margin: auto 20px
  display: none;

.hero h1
  font-family: "painter"
  color: white

.hero.thankyou,
.hero.packages
  align-items: baseline

.hero.thankyou h1,
.hero.packages h1
  margin-top: 30px

@media only screen and (min-width: $mobile_width)
  .hero h1
    font-size: 100px

@media only screen and (max-width: $mobile_width)
  .hero
    min-height: 300px