
.hero
  min-height: 600px
  width: 100%
  background-color: $primary_colour_dark
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  display: flex
  align-items: center
  justify-content: center

.hero img
  max-height: 400px
  width: 100%
  margin: auto 20px

@media only screen and (max-width: $mobile_width)
  .hero
    min-height: 300px