.map_container
  display: flex

.map_container .map
  flex: 1 1 65%
  height: 400px

.map_container .map iframe 
  width: 100%
  height: 100%

.map_container .contact
  flex: 1 1 35%
  padding: 10px
  text-align: center
  margin: auto

.map_container .contact a
  text-decoration: none
  color: black

.map_container .contact_row
  margin-bottom: 5px

.map_container .contact_row.telephone
  margin-top 30px

.map_container .contact img.ico
  height: 1.2em
  padding-right: 5px

@media only screen and (max-width: $mobile_width)
  .map_container
    flex-wrap: wrap

  .map_container .map
    flex-basis: 100%
