.packages_content
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  align-content: stretch

.packages_content a.package
  flex: 1 0 25%
  background-color: $colour_three
  border: solid 1px $colour_one
  margin: 20px 10px
  display: flex
  flex-direction: column
  text-decoration: none
  color: $primary_colour_dark

.packages_content a.package.custom
  background-color: $colour_two
  text-align: center
  font-weight: bold
  color: $primary_colour_dark
  font-size: 40px
  text-transform: capitalize
  line-height: 1.5

.packages_content a.package.custom p
  flex-grow: 1
  padding: 0 40px

.packages_content .package h2
  margin: 0
  padding: 10px
  text-align: center
  text-transform: capitalize
  background-color: $colour_three
  color: $colour_one

.packages_content .package ul
  padding: 20px 20px
  flex-grow: 1
  margin: 0

.packages_content .package ul li
  font-style: italic
  list-style: none
  margin: 5px 0

.packages_content .package ul li:before
  content : '✓'
  color : green
  margin-right: 10px

.packages_content .package ul li span.option
  background-color: $colour_two
  padding: 2px 5px
  border-radius: 4px
  margin-left: 5px
  font-size: 12px

.packages_content .package .most_popular .heart
  padding: 0 5px
  color: red

.packages_content .package .most_popular
  background-color: $colour_two
  color: $primary_colour_dark
  padding: 5px 10px
  text-align: center

.packages_content .package .cta
  display: flex
  justify-content: space-around
  background-color: $colour_two
  padding: 10px
  color: white
  font-weight: bold
  text-align: center

.packages_content .package .cta div 
  text-align: center

.packages_content .package .price
  font-size: 20px
  font-weight: bold
  background-color: white
  text-align: center
  padding: 5px

.packages_content .package .cta .enquire .btn
  // background-color: $colour_one
  // color: white

.packages_content .package .cta .enquire a:hover
  background-color: blue

@media only screen and (max-width: $mobile_width)
  .packages_content a.package
    flex-basis: 90%
  
  .packages_content a.package.custom
    order: 1
