.promo
  display: flex
  flex-wrap: wrap
  width: 100%

.promo_message
  flex: 1 1
  background-color: $colour_one
  color: $primary_colour_light

.promo_message .headline
  padding: 20px 40px
  text-transform: uppercase
  font-size: 70px
  font-weight: bolder
  color: $colour_two

.promo_message .message
  padding: 20px 40px
  font-style: italic
  font-size: 24px

.promo_image
  flex: 2 1
  background-color: $colour_one
  min-height: 500px
  background-attachment fixed
  background-position: center
  background-repeat: no-repeat
  background-size: cover  

.promo_burst
  text-align: center
  color: white
  z-index: -1

.promo_burst_container .promo_burst span
  position: relative

.promo_burst .number
  display: block
  font-size: 100px
  font-weight: bold
  margin-top: -20px
  z-index: 100

.promo_burst .label
  font-style: italic
  z-index: 100

.promo_burst_container *, 
.promo_burst_container *:before, 
.promo_burst_container *:after
  box-sizing: border-box

.promo_burst_container,
.promo_burst_container:before,
.promo_burst_container:after,
.promo_burst_container .promo_burst,
.promo_burst_container .promo_burst:before,
.promo_burst_container .promo_burst:after
  height: 10em;
  width: 10em;
  background-color: $colour_one

.promo_burst_container:before,
.promo_burst_container:after,
.promo_burst_container .promo_burst:before,
.promo_burst_container .promo_burst:after
  content: "";
  position: absolute;

.promo_burst_container
  position: relative
  top: 3.5em
  left: 3.5em
  transform: rotate(-45deg)

.promo_burst_container:before
  top: 0
  left: 0
  transform: rotate(-30deg)

.promo_burst_container:after
  top: 0
  left: 0
  transform: rotate(-15deg)

.promo_burst_container .promo_burst
  padding: 1em 1.5em
  position: absolute
  bottom: 0
  right: 0
  transform: rotate(45deg)
  z-index: 1

.promo_burst_container .promo_burst:before
  top: 0
  left: 0
  transform: rotate(60deg)

.promo_burst_container .promo_burst:after
  top: 0
  left: 0
  transform: rotate(75deg)

@media only screen and (max-width: $mobile_width)
  .promo_image
    display: none