@import '_settings'

normalize-css()
base()

$font-size-large = 22px
$font-size-small = 12px
$primary_colour_dark = #4f5358
$primary_colour_light = #ecece7
$page_width = 980px;
$mobile_width = 639px

body, main
  display: flex
  flex-direction: column
  align-items: center

main,
.full-width
  width: 100%

.page-width
  max-width $page_width
  width: 100%

h1
  font-size: 34px
  text-transform: capitalize
  text-align: center
  margin: 20px 0;

.section_header
  width: 100%
  margin: 20px 0 10px

.section_header h1
  border-bottom: 1px solid #AAA
  line-height: 0.1em

.section_header h1 span
  background-color: #fff
  padding: 0 40px

.section_info
  text-align: center
  padding-bottom: 20px;

.bold
  font-weight: bold

.btn
  padding: 5px
  background-color: navy
  color: white
  text-transform: capitalize
  text-decoration: none
  border-radius: 3px  

.btn:after
  content: '>'
  padding-left: 5px

@import '_header'
@import '_hero'
@import '_callout'
@import '_about'
@import '_promo'
@import '_packages'
@import '_contact'

footer
  margin-top: 20px
  background-color: navy 
  color: white-space 
  text-align: center
  width: 100%
  padding: 10px
  font-size: $font-size-small

footer .social
  display: flex
  justify-content: center
  margin-top: 10px

footer .social div
  padding: 5px

@media only screen and (max-width: $mobile_width)
  .hide_mobile
    display: none