@import '_settings'
// @import '_flexbox'

normalize-css()
base()

$colour_one = #8C929F
$colour_two = #EFC1BA
$colour_three = #E7E9EC
$colour_four = #B2B9B3
$colour_five = #9A9F90

$font-size-large = 22px
$font-size-small = 12px
$primary_colour_dark = #4f5358
$primary_colour_light = $colour_three
$page_width = 980px;
$mobile_width = 639px

body, main  
  display: flex
  flex-direction: column
  align-items: center

main,
.full-width
  width: 100%

.page-width
  max-width $page_width
  width: 100%

h1
  font-size: 34px
  text-transform: capitalize
  text-align: center
  margin: 20px 0;

.section_header
  width: 100%
  margin: 20px 0 10px

.section_header h1
  border-bottom: 1px solid $colour_four
  line-height: 0.1em
  color: $primary_colour_dark

.section_header h1 span
  background-color: #fff
  padding: 0 40px

.section_info
  text-align: center
  padding: 5px 0 5px 20px;

.bold
  font-weight: bold

.btn
  padding: 5px 10px
  background-color: $colour_two
  color: $primary_colour_dark
  text-transform: capitalize
  text-decoration: none
  border-radius: 1px
  font-size: $font-size-large
  font-weight: bold

.btn:after
  content: '>'
  padding-left: 5px

.mobile_only
  display: none

@import '_header'
@import '_hero'
@import '_callout'
@import '_about'
@import '_promo'
@import '_packages'
@import '_contact'
@import '_footer'

.masonry
  column-count: 3
  column-gap: 1em

.masonry .item
    display: inline-block
    margin: 0 0 1em
    width: 100%
    text-align: center

.masonry .item img 
    width: 100%
    max-width: 100%
    height: auto
    display: block

@media only screen and (max-width: $mobile_width)
  .masonry
    column-count: 2

  .desktop_only
    display: none !important

  .mobile_only
    display: block

  .hide_mobile
    display: none