extends ../bloglayout

block config
  - var page_title = "Our first year in review | Prosecco Van by The Fluid Events Co."
  - var page_description = "2019 is upon us and this is our chance to look forward to what 2019 might bring us"
  - var page_image = "/img/gallery/glass_and_flowers.jpg"
  - var page_path = '/blog/our-first-year-in-review'

block structured_data
  include structured_data.json

block content
  .blog_content.page-width
    .blog_text
      include:marked content.1.md

  p.cta
    a.btn(href="#contact") Enquire now

  .blog_content.page-width
    .blog_text
      include:marked content.2.md
