extends ../bloglayout

block config
  - var page_title = "Our first year in review | Prosecco Van by The Fluid Events Co."
  - var page_description = "2018 was our first full year running a Prosecco van. We look back at the high and low points to learn for the future"
  - var page_image = "/img/gallery/flo_hedge.jpg"
  - var page_path = '/blog/our-first-year-in-review'

block structured_data
  include structured_data.json

block content
  .blog_content.page-width
    .blog_text
      include:marked content.1.md

  p.cta
    a.btn(href="#contact") Enquire now

  .blog_content.page-width
    .blog_text
      include:marked content.2.md

  .gallery.page-width.masonry
    .item
      img.lazy(data-src="/img/gallery/feco_team.jpg", alt="WHen we finally got flo home")
    .item
      img.lazy(data-src="/img/gallery/first_glass.jpg", alt="pouring the first glass of prosecco")
    .item
      img.lazy(data-src="/img/gallery/teamflo_all.jpg", alt="Our launch party")
    .item
      img.lazy(data-src="/img/gallery/flo_old_house.jpg", alt="Our beautiful prosecco van")
    .item
      img.lazy(data-src="/img/gallery/cheers.jpg", alt="Pimped prosecco")
    .item
      img.lazy(data-src="/img/gallery/flo_side_view.jpg", alt="Our prosecco van all dressed up")
