extends bloglayout

block content
  .hero.lazy(data-src='/img/john_serving.jpg')
    h1.dark Five top tops to building a prosecco van

  .blog_content.page-width 
    .blog_text
      include:marked five-top-tips.md
    .blog_image.lazy(data-src="/img/gallery/cheers.jpg", alt="prosecco cheers")