extends bloglayout

block content
  .blog_content.page-width 
    .blog_text
      include:marked five-top-tips.md
    .blog_image.lazy(data-src="/img/gallery/flo_taps_xmas.jpg", alt="prosecco cheers")