extends ../layout

block config
  - var page_title = "Our Blog | Prosecco Van Essex | The Fluid Events Co."
  - var page_description = "As we travel around essex with our prosecco van, we'll try and blog about the interesting things we see and do."
  - var page_image = "/img/gallery/flo_nearside_woodland.bw.large.jpg"
  - var page_path = '/blog'

block content
  //- .hero.packages.lazy(data-src='/img/gallery/flo_nearside_woodland.bw.large.jpg')

  h1 Our blog

  p.page-width.blog_intro
    span We are passionate about prosecco and have made it our mission to serve prosecco (and more) throughout Essex.
    span Along the way we will be blogging about our experience, sharing the lessons we've learnt and the anything else may be of interest.

  h2 Our top posts

  .callouts.page-width.callouts__blog
    a.callout.callout__blog__three(href="/blog/looking-into-2019")
        .title looking into 2019
        .date 30th October 2019

    a.callout.callout__blog__four(href="/blog/our-first-year-in-review")
        .title our first year in review
        .date 21st January 2019

    a.callout.callout__blog__one(href="/blog/the-taste-test-choosing-prosecco")
        .title choosing prosecco
        .date 15th October 2017

    a.callout.callout__blog__four(href="/blog/raising-money-for-mind-essex")
        .title raising money for mind
        .date 12th April 2018

    a.callout.callout__blog__three(href="/blog/five-top-tips-to-building-a-prosecco-van")
        .title 5 Top Tips to Building a Prosecco Van
        .date 9th November 2017
