extends bloglayout

block content
  .hero.lazy(data-src='/img/gallery/john_serving.jpg')

  .blog_content.page-width     
    .blog_text
      include:marked the-taste-test.md
    .blog_image.lazy(data-src="/img/gallery/cheers.jpg", alt="prosecco cheers")